<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employer Registration</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="script.js"></script>
</head>
<body>
    <h2>Employer Registration</h2>
    <form id="registrationForm">
        <label for="employer_name">Employer Name:</label>
        <input type="text" name="employer_name" required><br>

        <label for="company_name">Company Name:</label>
        <input type="text" name="company_name" required><br>

        <label for="contact_no">Contact Number:</label>
        <input type="text" name="contact_no" required><br>

        <label for="username">Username:</label>
        <input type="text" name="username" required><br>

        <label for="password">Password:</label>
        <input type="password" name="password" required><br>

        <input type="submit" name="register" value="Register">
    </form>
</body>
</html>
